#footer {
      bottom: 0px;
      background-color: rgba(25,25,25, 0.6);
      position: absolute;
      width: 100%;
      text-align: right;
      margin-bottom: 4px;
}
#footer .footer{
    margin: auto;
    width: 1000px;
    height:100%;
    color: white;
    padding: 2px;
    position: relative;
}
#footer, .push {
    height: 42px;
    margin-top: 10px;
}
.footer .footerNav
{
    list-style: none;
    width: 390px; height:
    25px; margin:
    0px auto;
}
.footer .footerNav li
{
    float: left;
    margin: 5px 10px 5px 10px;
}
.footer .footerNav li a
{
    color: rgb(200,200,200);
    text-decoration: underline;
}
.footer .footerNav li a:hover
{
    color: rgb(255,255,255);
}