.friendsList{
      width: 180px;
      top: 10px;
      left: 920px;
      margin-left: -100px;
      position: absolute;   
      z-index: 5;
}
.friendsList .friendsList-expand{
      height: 32px;
      background-color: rgba(34,132,181,1);
      color:#FFF;
      cursor: pointer;
}
.friendsList .friendsList-expand:hover{
    background-color: rgba(25,111,154,1);
}
.friendsList .friendsList-expand .friend-count{
    display: inline-block;
    margin: 8px 0px 0px 2px;
}
.friendsList .friendsList-expand .friends-list-icon{
    float: left;
    margin: 2px;
}
.friendsList .friendsList-expand .friends-list-expand-icon{
    float: right;
    margin: 4px 10px 2px 2px;
}
.friendsList .friendsList-list{
    
}
.friendsList .friendsList-list .category{
    text-align: left;
    color: white;
    font-size: 14px;
    background-color: rgb(32, 109, 147);
    padding: 4px 4px 4px 30px;
    cursor: pointer;
}
.friendsList .friendsList-list .category, .friendsList .friendsList-list .category-list li{
    border-top: 1px solid rgb(34,34,34);
    border-bottom: 1px solid rgb(34,34,34);
}
.friendsList .friendsList-list .category:hover{
    background-color: rgb(19,65,87);
}
.friendsList .friendsList-list .category .category-expand{
    float: right;
}
.friendsList .friendsList-list .category-list{
    max-height: 100px;
    overflow-y: auto;
    overflow-x: visible;
    display: none;
}
.friendsList .friendsList-list .category-list li{
    background-color: rgb(72,168,215);
    cursor: pointer;
}
.friendsList .friendsList-list .category-list li .username{
    color: white;
    margin: 8px 0px 8px 4px;
    overflow: hidden;
    color: rgb(20,20,20);
    font-size: 12px;
}
.friendsList .friendsList-list .category-list li .expand{
    float: right;
    margin: -2px 4px -4px 0px;
}
.friendsList .friendsList-list .category-list li:hover{
    background-color: rgb(39,135,182);
}
.friendsList .context-menu{
    position: fixed;
    display: none;
    box-shadow: 4px 4px rgba(0,0,0,0.2);
}
.friendsList .context-menu ul{
    background-color: white;
}
.friendsList .context-menu ul li{
    cursor: pointer;
    padding: 8px 10px;
    font-size: 12px;
}
.friendsList .context-menu ul li:hover {
    background-color: rgb(204,232,244);
}
.friendsList .friendsList-list .add-friend{
    
}
.friendsList .whisper-container .whisper-window{
    width: 300px;
    height: 300px;
    background-color: white;
}
.friendsList .whisper-container .whisper-window .whisper-window-title-bar{
    height: 26px;
    background-color: red;
    cursor: pointer;
}
.friendsList .whisper-container .whisper-window .whisper-window-title-bar .window-title{
    text-align: center;
}
.friendsList .whisper-container .whisper-window .whisper-window-title-bar .anchor{
    float: right;
}