.friendsList
{
      height: 36px;
      width: 200px;
      bottom: 0px;
      background-color: rgba(25,25,25,0.8);
      background-color: red;
      position: fixed;
      margin-bottom: 4px;
      z-index: 1;
}