<?php
    $expires = 60*60*24*3; // how long to cache in secs..
    header("Pragma: public");
    header("Cache-Control: maxage=".$expires);
    header('Expires: ' . gmdate('D, d M Y H:i:s', time()+$expires) . ' GMT');
    header('Content-type: text/css');
    $location = "../includes/styles/";
    include($location . "style.css");
    include($location . "main.css");
    include($location . "footer.css");
    include($location . "clickable-dropdown/main.css");
    include($location . "friendsList.css");
    include($location . "perfect-scrollbar/perfect-scrollbar-0.4.8.min.css");
?>